<h1>Edit Chores</h1>

<%= form_with(model: @dolist) do |f| %>
  <fieldset>
    <%= f.label :chore %>
    <%= f.text_field :chore %>
  </fieldset>
  <fieldset>
    <%= f.label :owner_id %>
    <%= f.collection_select :owner_id, @owners, :id, :full_name %>
  </fieldset>
  <fieldset>
    <%= f.submit %>
  </fieldset>
<% end %>